CREATE DATABASE IF NOT EXISTS blog;
CREATE USER IF NOT EXISTS '{{ .BLOG_USER }}'@'%' IDENTIFIED BY '{{ .BLOG_PASSWORD }}';
GRANT ALL PRIVILEGES ON blog.* TO '{{ .BLOG_USER }}'@'%';
FLUSH PRIVILEGES;

-- vim:set syntax=sql:
