CREATE DATABASE IF NOT EXISTS easyappointments;
CREATE USER IF NOT EXISTS '{{ .EASYAPPOINTMENTS_USER }}'@'%' IDENTIFIED BY '{{ .EASYAPPOINTMENTS_PASSWORD }}';
GRANT ALL PRIVILEGES ON easyappointments.* TO '{{ .EASYAPPOINTMENTS_USER }}'@'%';
FLUSH PRIVILEGES;

-- vim:set syntax=sql:
